@tailwind base;
/* Tailwind 导致 antd 的 button icon svg 不居中的 bug */
@layer base {
  svg {
    display: inline;
    vertical-align: baseline;
  }
}
@tailwind components;
@tailwind utilities;

:root {
  --ant-primary-color: #1677ff;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: var(--ant-primary-color);
}
